<div class="clearfix"></div>
<div class="jumbotron mt-15">
  <h1 class="display-3">Login</h1>
  <p class="lead">Login om gebruik te maken van de todo App.</p>
  <hr class="my-4">
  <form>
    <div class="form-group">
      <label for="username">Gebruikersnaam</label>
      <input placeholder="username" name="username" class="form-control"  [(ngModel)]="user.username" placeholder="voer je gebruikersnaam in">
    </div>
    <div class="form-group">
      <label for="password">Wachtwoord</label>
      <input type="password" name="password" class="form-control" [(ngModel)]="user.password" placeholder="Wachtwoord">
    </div>
    <button (click)="login(user)" class="btn btn-primary">Login</button>
  </form>
</div>
