<div class="container">
  <div class="row mx-5">
    <h4 class="display-3">Todo's
      <button (click)="newTodo" class="btn btn-primary pull-right">Nieuwe todo</button>
    </h4>
    <hr class="my-4">
    <div class="col-md-12 pull-right" *ngIf="!showForm">
    </div>
    <div class="col-md-12" *ngIf="showForm">
      <form>
        <div class="form-group">
          <label for="title">Titel</label>
          <input placeholder="title" name="title" class="form-control"  [(ngModel)]="todo.title" placeholder="voer de titel in">
        </div>
        <div class="form-group">
          <label for="description">Omschrijving</label>
          <textarea name="description" class="form-control" [(ngModel)]="todo.description" rows="4" placeholder="voer de  omschrijving in"></textarea>
        </div>
        <button (click)="addTodo(todo)" class="btn btn-primary">Voeg todo Toe</button>
        <button (click)="cancel()" class="btn btn-default">Annuleer</button>
      </form>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Titel</th>
          <th>Omschrijving</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="todos.length < 1">
        <tr>
          <th scope="row" colspan="4">Nog geen todo's</th>
        </tr>
      </tbody>
      <tbody *ngIf="todos.length > 0">
        <tr *ngFor='let todo of todos'>
          <th scope="row">{{ todo.id }}</th>
          <td>{{ todo.title }}</td>
          <td>{{ todo.description }}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
